.flexContainer {
  composes: spaceBetween from '@/styles/utils.module.scss';
  margin: var(--space-lg) 0;
  gap: 1em;
  li{
    border-radius: 32px;
    backdrop-filter: blur(3px);
    background-color: rgba(255,255,255, 0.389);
    border: 1px rgba(255,255,255,0.4) solid;
    display: flex;
    min-width: fit-content;
    border-radius: 16px;
    padding: 1.25rem;
  }
}

.next {
  margin-left: auto;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.prev, .next{
  transition: .5s;
  &:hover{
    background: var(--black);
    color: #fff;
  }
}