.siteLink{
  composes: glass from '@/styles/composes.module.scss';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 8px;
  transition: 1s;
  font-family: var(--font-baloo);
}