.slideWrapper{
  width: 1152px;
  height: 60vh;
  max-height: 760px;
  color: #222;
  display: block;
}
.slideItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-button-disabled {
  opacity: 0;
}
.swiperSubTitle{
  font-family: var(--font-baloo);
  margin-bottom: 1rem;
}
.swiperTitle{
  text-align: left;
  margin-bottom: 1rem;
}
.text{
  margin-bottom: 1rem;
  text-align: center;
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--black);
  border-radius: 1rem;
  transition: .5s;
  &:hover{
    background: var(--black);
    color: #fff;
  }
}