.container{
  padding: 16px;
}
.inner{
  position: relative;
  .right{
    margin-left: auto;
  }
}
.box{
  composes: glass from '@/styles/composes.module.scss';
  position: relative;
  padding: 16px;
  border-radius: 16px;
  max-width: calc((100% - 56px) / 2);
  @media(max-width: 769px){
    max-width: fit-content;
  }
}
.date{
  font-size: 1.2rem;
  font-family: var(--font-baloo);
}
.item{
  margin-left: 16px;
}
.job{
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}