.basic{
  font-size: var(--heading2);
  font-weight: 700;
  letter-spacing: 0.01em;
  transition: 1s;
  &:hover{
    color: var(--white);
    text-shadow: var(--textShadow);
  }
}

.box{
  composes: basic;
  display: inline-block;
  font-size: var(--heading2);
  transition: 1s;
  &:hover{
    color: var(--white);
    text-shadow: var(--textShadow);
  }
}

