
.link{
  width: 560px;
  height: 200px;
  margin: 0 auto;
}


/* 高さを指定せずアスペクト比を保つ */
.flexContainer {
    padding: 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &>span {
      min-width: calc((100% - 24px) /3);
      max-width: calc((100% - 24px) /3)!important;
    }
  }

  // @media(min-width: 500px) {
  //   .flexContainer{
  //     display: block;
  //     &>span {
  //       min-width: 100%;
  //     }
  //   }
  // }