
.link{
  width: 560px;
  height: 200px;
  margin: 0 auto;
}

@media(min-width: 500px) {
  .flexContainer{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/* 高さを指定せずアスペクト比を保つ */
.flexContainer {
    padding: 56px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &>span {
      min-width: calc((100% - 24px) /3);
    }
  }

  // .image {
  //   position: relative !important;
  //   height: unset !important;
  // }